<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/task.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<style>
    .form{
        margin-left: 35%;
    }
    td{
        font-size: large;
        
    }
</style>
<body  style="background:linear-gradient(to left,rgb(37, 201, 223),white)">
    <div class="header">
        <center><h3>TASK MANAGER</h3></center>
    </div>
        {% for i in s %}
        <form method="POST" class="form"><table>
            {% csrf_token %}
            <tr>
                <td><label for="tile">TITLE</label></td>
                <td> <input type="text" name="title" disabled value="{{ i.title }}"></td>    
            </tr><br>
            <tr>    
                <td><label for="description">DESCRIPTION</label></td>
                <td><textarea name="description" disabled > {{ i.description }} </textarea></td>
            </tr><br>
            <tr>    
                <td><label for="duedate">DUE-DATE</label></td>
                <td><input type="datetime-local" name="duedate" disabled value="{{i.duedate|date:'Y-m-d\TH:i'}}"></td>
            </tr><br>
            <tr>    
                <td><label for="priority">PRIORITY</label></td>
                <td><select name="priority" diasbled>
                    <option disabled value="high" {% if i.priority == 'high' %} selected {% endif %}>HIGH</option>
                    <option disabled value="medium" {% if i.priority == 'medium' %} selected {% endif %}>MEDIUM</option>
                    <option disabled value="low" {% if i.priority == 'low' %} selected {% endif %}>LOW</option>
                </select></td>
            </tr><br>
            <tr>
                <td><label for="status">STATUS</label></td>
                <td><input type="radio" name="status" value="completed" {% if i.status == 'completed' %} checked {% endif %}>
                    <label for="completed">Completed</label><br>
                    <input type="radio" name="status" value="notcompleted" {% if i.status == 'notcompleted' %} checked {% endif %}>
                    <label for="notcompleted">Not Completed</label>
                </td>    
            </tr>
            
            <tr>
                <td><button class="btn btn-primary" type="submit">SUBMIT</button></td>
                <td><a class="btn btn-primary" href="{% url "alltask" %}">Dashboard</a></td>
            </tr>
        </table>
        {% endfor %}
    </div>
</body>
</html>
